{% extends '_base.html.twig' %}

{% block pageTitle %}new reference form% endblock %}

    {% block body %}

        <h1>Create new reference</h1>


        <form action="/bibs/processNewForm" method="POST">
            Name:
            <input type="text" name="name">

            <p>
                <input type="submit" value="Create new reference">
        </form>


    {% endblock %}